@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.addApoinments-container{
   width: 100%;
font-family: 'Poppins', sans-serif;

}
.addPoinment-form{
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

.addPoinment-form select{
    width: 91%;
    height: 40px;
    margin-top: 25px;
    border: 1px solid rgb(202,204,205);
    margin-bottom: 10px;
}

.addPoinment-form button{
    border: none;
    background-color: #498ef5;
    height: 30px;
    width: 100px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}
.addPoinment-form span {
    color: red;
    font-weight: bold;
}
